<div class="col-sm-8 blog-main">
  <div class="blog-post">

    <h3>who we are</h3>

    We like facial hair.  More importantly, we don’t think beards and moustaches
    are just a fad.  Beards are natural.  People have been hairy for thousands
    of years.  We have a hunch that people will continue to be hairy for many
    years to come.<br><br>

    Our aim is to foster creativity and good nature to better our communities.
    The Beard Club wants to bring like-minded people together and celebrate our
    fondness of facial hair, a vehicle of self-expression, confidence, function
    and charm.<br><br>


    <h3>what we do</h3>

    There is a big fuzzy universe out there, and we’d like to make it a little
    more accessible.  We’re feeding from and linking to a huge collection of
    great websites.<br><br>

    Most of the content on this site is coming from other sites.  We always
    credit the original author and link back to the original post.  Please be
    aware that we set a character limit on each post, meaning that if you’d like
    to read full articles, you need to go to the source.  It is always a good
    idea to visit the original site.<br><br>

    We plan to offer some sweet merchandise.  We want to make you smile.  We also want
    to cover costs.  Any surplus generally gets dumped back into the project or
    donated to charity.<br><br>

    Since 2009, we have made contributions to The Arthritis Foundation, The
    Leukemia & Lymphoma Society, The Ellie Koerner Leukemia Foundation, and
    The Downsyndrome Association of Middle Tennessee.<br><br>


    <h3>how you can help</h3>

    <em>Some quick easy ways to show your support:</em><br>
      <ul>
        <li>Grow a beard or moustache.</li>
        <li>Upload an image to the Wall of Beard.</li>
        <li>Send us links to beard-centric sites we may have missed.</li>
        <li>Visit our friends’ sites.</li>
        <li>Buy merchandise.</li>
        <li>Tell your friends.</li>
      </ul>
    <br>
      info@thebeardclub.com
    <br><br>
  </div>
</div><!-- /.blog-main -->

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>
  <div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>
      <li><a href="#">November 2013</a></li>
      <li><a href="#">October 2013</a></li>
      <li><a href="#">September 2013</a></li>
      <li><a href="#">August 2013</a></li>
      <li><a href="#">July 2013</a></li>
      <li><a href="#">June 2013</a></li>
      <li><a href="#">May 2013</a></li>
      <li><a href="#">April 2013</a></li>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
