<div class="col-sm-3 blog-main">

  <!-- notice that i'm iterating through fb.entries and not fb as i would normally -->
  <div class="fb">

  <% @facebook.each do |fb| %>
    <% fb.entries.each do |sm| %>
      <h3><%= link_to sm.last_modified.strftime("%b %d, %Y"), sm.url, target: "_blank" %></h3><br>
      <p><%= sm.summary.to_s.html_safe %></p><br>
      <!-- <%= sm.author %> <br> -->
      <!-- <%= sm.entries[5][1] %><br> YOU CAN PICK ANY ELEMENT BY CALLING ARRAY THEN ARRAY AGAIN -->
      <br>
    <% end %>
  <% end %>

  </div>



</div>
