<a href="http://beardcoach.com/">Beard Coach</a>
<a href="http://beardtownusa.blogspot.com/">Beard Town USA</a>
<a href="https://www.kickstarter.com/projects/755494424/beardo-the-movie-a-documentary">Beard: The Documentary</a>
<a href="http://www.build-a-beard.com/">Build-A-Beard</a>
http://beardporn.com/
http://www.thebeardly.com/
http://www.beardsfrombelow.org/
http://dudeswithbeardseatingcupcakes.tumblr.com/
http://fyfakemustaches.tumblr.com/
http://fuckyeahbeards.tumblr.com/
http://whiskerino.tumblr.com/
http://www.beardathon.com/?AspxAutoDetectCookieSupport=1
http://www.beardsbecause.com/index.html
http://bearduary.com/
http://www.moustachemarch.com/
http://us.movember.com/
http://mustachesforkids.org/
http://runningofthesantas.com/
http://www.beards.org/
http://beardcommunity.com/
http://thebritishbeardclub.org/index.php
http://www.handlebarclub.co.uk/index.php
http://jefffsbeardboard.yuku.com/
http://beardedgents.com/
https://www.facebook.com/groups/11723593391/
http://mustachesofthenineteenthcentury.blogspot.com/
http://content.photojojo.com/tutorials/add-hair-to-your-photos/
http://www.biggerbetterbeards.org/
http://www.beardedtheory.co.uk/index.php
http://www.lordlikely.com/wp-content/uploads/2009/03/tashorama.html
http://www.whisperingbeard.com/festival/
http://beardclub.com/
http://www.splittinghairsmovie.com/
http://beardteamusa.org/
http://jackpassion.com/
http://www.worldbeardchampionships.com/
http://www.beardhead.com/
http://facialhairhandbook.com/
http://www.fuzzy-ink.com/
http://www.themoustachecalendar.com/index.html
http://moustachefactory.com/shop/index.php
http://www.reddit.com/r/beards  ******
