
<iframe width="640" height="360" src=" https://www.youtube.com/embed/ZzBV5Tzf5BM " frameborder="0" allowfullscreen></iframe>

<div class="videos">
<% @videos.values.each do |video| %>
  <% video.each do |vid| %>
<iframe width="640" height="360" src="https://www.youtube.com/embed/<%= vid["source_url"].to_s[32..60] %>" frameborder="0" allowfullscreen></iframe>
<br>
<%= vid["source_url"] %><br>
<%= vid["source_url"].to_s[32..60] %><br>
<!-- <%= vid["player"][2]["embed_code"] %> -->

<% end %>
<% end %>






</div>
