<%= @videos %>


<div class="videos">


</div>


<!-- you can add titles as caption when adding to tumblr
you can call vid.title and vid.summary.to_s.html_safe
use nokijiwa gem to remove text between <p> tags, effectively removing embedded titles
results in title ABOVE video, and able to apply styling. -->
