<div class = "flickr text-center">
  <% @megagram.each do |mega| %>
    <% mega["data"].each do |m| %>
        <div class = "wob">
          <a href="<%= m['link'] %>" target="_blank">
            <img src="<%= m["images"]["low_resolution"]["url"] %>">
          </a>
        </div>
    <% end %>
  <% end %>
</div>

<br><br>
