<div class = "flickr text-center">
<% @wallobeard.each do |wob| %>
  <div class = "wob">
          <a href="<%= wob['link'] %>" target="_blank">
            <img src="<%= wob["images"]["low_resolution"]["url"] %>">
          </a>
  </div>
<% end %>
</div>

<center>
<%= paginate @wallobeard %>
</center>

<br><br>
