<br><br>

<div class = "flickr text-center">
  <% @megagram.each do |mega| %>
    <% mega["data"].each do |m| %>
      <div class="outer-frame">      
        <div class = "frame">
            <img src="<%= m["images"]["low_resolution"]["url"] %>"><br>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<br><br>
